@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat+Alternates:wght@400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;

}

body {
  
    box-sizing: border-box;
    background-color: #02020A;
    color: #E9F1F7;
}
.cabecalho{
    padding: 1.5% 0% 0% 5%;
    justify-items: center;
    justify-content: space-between;
}
.cabecalho__menu{
    display: flex;
    gap: 50px;
}

.cabecalho__menu__link:hover{
    transform: translateY(-2px);
}

.cabecalho__menu__link{
    color:#9932CC;
    font-family:"Exo 2", sans-serif; 
    font-weight: 600;
    font-size: 17px;
    transition: transform 0.2s, box-shadow 0.2s
}

.destaque {
    color: #9932CC;
    
}


.introducao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introducao__conteudo {
    width: 815px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.introducao__conteudo__titulo {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    width: 900px;
}

.introducao__minhaFoto {
    max-width: 33%;
    height: 33%;
}

.introducao__conteudo__paragrafo {
    font-size: 24px;
    font-family: "Public Sans", sans-serif;
}

.introducao__conteudo__links {
    gap: 25px;
    display: flex;
    flex-direction: column;
    font-family: "Exo 2", sans-serif;
    justify-content: space-between;
    align-items: center;
}

.introducao__conteudo__links__estetica{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: 2px solid #3392CC;
    width: 360px;
    border-radius: 16px;
    padding: 21.5px 0;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #E0E6ED;
    transition-duration: 0.4s;
}

.projetos{
    position: relative;
    font-size: 20px;
    height: 60px;
    font-family: "Open Sans", sans-serif;
    width: auto;
    top: -140px;
    left: 20px;
}

/* PARAMETROS PARA O FOOTER DA NOSSA SEGUNDA PAGINA
.projetos_organizacao{
    display: flex;
    justify-content: space-between;
    width:120px;
    gap: 5px;
    margin-left: 10px;
    position: relative;
    top: -170px;
    height: 60px;
}
*/
.introducao__conteudo__subtitulo{
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.introducao__conteudo__links__estetica:hover{
    background-color: #1b1b22;
}

.rodape{
    display:flex;
    align-items: center;
    background-color: #9932CC;
    justify-content: center;
    padding: 24px;
}
.rodape__texto{
    font-size: 17px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    color: #E0E6ED;
    text-decoration:none;
}
.rodape__texto__link{
 
    text-decoration: none;
    color:#02020A;
}
